<a href="https://colab.research.google.com/github/CodeByAbi/Pemrograman-Sains-Data/blob/main/Pemrograman_Sains_Data_(Pertemuan_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DISCRETE MATH USING PYTHON**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

**Intersection**

In [ ]:
indA & indB #intersection

Index([0, 3, 5, 7, 9], dtype='int64')

**Union**

In [ ]:
indA | indB #union

Index([3, 3, 5, 7, 11], dtype='int64')

**Symmetric Diffrence**

In [ ]:
indA ^ indB #symmetric diffrence

Index([3, 0, 0, 0, 2], dtype='int64')

In [ ]:
#(1)-Defining the DataFrames

#1.1 Python students
P = pd.DataFrame ({"Name" : ["Elizabeth", "Darcy"],
                   "email" : ["bennet@xyz.com", "darcy@gmail.com"]})

#1.2 SQL students
S = pd.DataFrame ({"name" : ["bingley", "Elizabeth"],
                  "email" : ["bingley@xyz.com", "bennet@xyz.com"]})

#(2)-Performing set operations

#2.1 Union
all_student = pd.concat([P, S], ignore_index = True)
all_student = all_student.drop_duplicates()

#2.2 Intersection
sql_python = P.merge(S)

#2.3 Diffrence
python_only = P[P.email.isin(S.email) == False]
sql_only = S[S.email.isin(P.email) == False]

#3 Showing Result
print("------------------")
print("all_students {UNION} : ")
print(all_student)

print("------------------")
print("Student enrollled in both courses (INTERSECTION) : ")
print(sql_python)

print("------------------")
print("Python students who are not taking SQL (DIFFRENCE) : ")
print(python_only)

print("------------------")
print("SQL students who are not takung Python (DIFFRENCE) : ")
print(sql_only)

------------------
all_students {UNION} :
        Name            email       name
0  Elizabeth   bennet@xyz.com        NaN
1      Darcy  darcy@gmail.com        NaN
2        NaN  bingley@xyz.com    bingley
3        NaN   bennet@xyz.com  Elizabeth
------------------
Student enrollled in both courses (INTERSECTION) :
        Name           email       name
0  Elizabeth  bennet@xyz.com  Elizabeth
------------------
Python students who are not taking SQL (DIFFRENCE) :
    Name            email
1  Darcy  darcy@gmail.com
------------------
SQL students who are not takung Python (DIFFRENCE) :
      name            email
0  bingley  bingley@xyz.com